@charset "UTF-8";

.main{
    width: 100%;
}

.main > h1{
    text-align: center;
    color: #00730C;
}

.containerPlants{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 70%;
}

.card{
    margin-bottom: 2rem;
    background-color: #F4F6E8
}

.body{
    margin: auto;
    padding: 0px 0px 10px 0px;
}

.img{
    height: 12rem;
}

.name{
    margin-top: 5px;
    padding: 0;
    font-size: 1rem;
    text-align: center;
    color: #00730C;
}

/* ============== Media Query ================ */

@media screen and (max-width: 320px) {
    .main{
        width: 90%;
    }
    .main > h1{
        font-size: 1.2rem;
    }
    .containerPlants{
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }
    .card{
        max-width: 80%;
        background-color: #F4F6E8
    }
    .body{
        padding: 0px 0px 5px 0px;
    }
    .img{
        height: 7rem;
    }
    .name{
        margin-top: 5px;
        font-size: 0.8rem;
    }
}
  
@media screen and (min-width: 360px) and (max-width: 391px) {
    .main{
        width: 80%;
    }
    .main > h1{
        font-size: 1.3rem;
    }
    .containerPlants{
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }
    .card{
        max-width: 80%;
        background-color: #F4F6E8
    }
    .body{
        padding: 0px 0px 5px 0px;
    }
    .img{
        height: 7rem;
    }
    .name{
        margin-top: 5px;
        font-size: 0.8rem;
    }
}
  
@media screen and (min-width: 392px) and (max-width: 410px) {
    .main{
        width: 70%;
    }
    .main > h1{
        font-size: 1.3rem;
    }
    .containerPlants{
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }
    .card{
        max-width: 80%;
        background-color: #F4F6E8
    }
    .body{
        padding: 0px 0px 5px 0px;
    }
    .img{
        height: 7rem;
    }
    .name{
        margin-top: 5px;
        font-size: 0.8rem;
    }
}
  
@media screen and (min-width: 411px) and (max-width: 450px){
    .main{
        width: 70%;
    }
    .main > h1{
        font-size: 1.4rem;
    }
    .containerPlants{
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }
    .card{
        max-width: 80%;
        background-color: #F4F6E8
    }
    .body{
        padding: 0px 0px 5px 0px;
    }
    .img{
        height: 7rem;
    }
    .name{
        margin-top: 5px;
        font-size: 0.8rem;
    }
}

@media screen and (min-width: 451px) and (max-width: 600px){
    .main{
        width: 75%;
    }
    .main > h1{
        font-size: 1.6rem;
    }
    .containerPlants{
        grid-template-columns: 1fr 1fr;
        width: 110%;
    }
    .card{
        max-width: 100%;
        background-color: #F4F6E8
    }
    .body{
        padding: 0px 0px 10px 0px;
    }
    .img{
        height: 9rem;
    }
    .name{
        margin-top: 5px;
        font-size: 1rem;
    }
}

@media screen and (min-width: 601px) and (max-width: 766px){
    .main{
        width: 75%;
    }
    .main > h1{
        font-size: 1.6rem;
    }
    .containerPlants{
        grid-template-columns: 1fr 1fr 1fr;
        width: 110%;
    }
    .card{
        max-width: 100%;
        background-color: #F4F6E8
    }
    .body{
        padding: 0px 0px 10px 0px;
    }
    .img{
        height: 9rem;
    }
    .name{
        margin-top: 5px;
        font-size: 1rem;
    }
}
  
@media screen and (min-width: 768px) and (max-width: 818px){
    .main{
        width: 75%;
    }
    .main > h1{
        font-size: 1.6rem;
    }
    .containerPlants{
        grid-template-columns: 1fr 1fr 1fr;
        width: 110%;
    }
    .card{
        max-width: 100%;
        background-color: #F4F6E8
    }
    .body{
        padding: 0px 0px 10px 0px;
    }
    .img{
        height: 9rem;
    }
    .name{
        margin-top: 5px;
        font-size: 1rem;
    }
}

@media screen and (min-width: 819px) and (max-width: 858px){
    .main{
        width: 75%;
    }
    .main > h1{
        font-size: 1.6rem;
    }
    .containerPlants{
        grid-template-columns: 1fr 1fr 1fr;
        width: 110%;
    }
    .card{
        max-width: 100%;
        background-color: #F4F6E8
    }
    .body{
        padding: 0px 0px 10px 0px;
    }
    .img{
        height: 9rem;
    }
    .name{
        margin-top: 5px;
        font-size: 1rem;
    }
}

@media screen and (min-width: 883px) and (max-width: 950px){
    .main{
        width: 75%;
    }
    .main > h1{
        font-size: 1.8rem;
    }
    .containerPlants{
        grid-template-columns: 1fr 1fr 1fr;
        width: 110%;
    }
    .card{
        max-width: 100%;
        background-color: #F4F6E8
    }
    .body{
        padding: 0px 0px 10px 0px;
    }
    .img{
        height: 9rem;
    }
    .name{
        margin-top: 5px;
        font-size: 1rem;
    }
}